body {
  font-family: arial, Tahoma, sans-serif;
  font-size: 20px;
  background: whitesmoke;
}

.seccion{
  display: inline-table;
  width: 400px;
  margin: 30px;
}
.secciones{
  display: inline-block;
}

.seccion3{
  display: inline-block;
}

.simbolo{
  color: red;
}
input{
  margin-top: 8px;
  margin-bottom: 8px;
}

#boton{
  float: right;
}
#alta{
  height: 30px;
}


